<% include ../partials/header %>
<div class="container">
<h1 class="text-center">Edit <%=user.username%></h1>

<form action="/users/<%=user._id%>?_method=PUT" method = "POST">
  <div class= "row justify-content-center">
   <div class="col-6">
    <div class="form-group">
        <input class="form-control" type="text" name="user[username]" value="<%=user.username%>">  
    </div>
    <!--<div class="form-group">-->
    <!--     <input class="form-control" type="password" name="user[password]" value="<%=user.password%>">-->
    <!--</div>-->
    <div class="form-group">
        <input class="form-control" type="text" name="user[firstName]" 
        <% if(user.firstName){ %>
          value="<%=user.firstName%>">
        <% }else{%>
          placeholder="first name">
        <% } %>  
        
    </div>
    <div class="form-group">
        <input class="form-control" type="text" name="user[lastName]" 
        <% if(user.lastName){ %>
          value="<%=user.lastName%>">
        <% }else{%>
          placeholder="last name">
        <% } %> 
    </div>
    <div class="form-group">
        <input class="form-control" type="email" required name="user[email]" 
        <% if(user.email){ %>
          value="<%=user.email%>">
        <% }else{%>
          placeholder="email">
        <% } %> 
    </div>
    <div class="form-group">
        <input class="form-control" type="url" name="user[avatar]" 
        <% if(user.avatar){ %>
          value="<%=user.avatar%>">
        <% }else{%>
          placeholder="avatar image url">
        <% } %> 
    </div>
    <div class="form-group">
        <textarea name="user[aboutMe]" "form-control" style="min-width: 100%"><%=user.aboutMe%></textarea>
    </div>
    <!--<div class="form-group">-->
    <!--    <input class="form-control" type="text" name="user[adminCode]" value="<%=user.adminCode%>">-->
    <!--</div>-->
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-secondary btn-block" href = "/campgrounds">Go back</button>
    </div>
     
   </div>
  </div>
</form>
</div>
<% include ../partials/footer %>
