<% include ../partials/header %>
<% include ../functions/index %>
<% var defaultAvatar = "https://images.onepixel.com/bd716865-bb64-72c4-666c-1a5687d0e04c_1000.jpg?auto=format&q=55&mark=watermark%2Fcenter-v5.png&markalign=center%2Cmiddle&h=364&markalpha=20&s=b52cf842242cb57d6fa39a7937198f3e";%>


 


<div class="row">
  <div class="col-md-5">
     <div class="card" style="width: 18rem; margin-top: 15px;">
        <img class="card-img-top" 
        <% if(user.avatar){ %>
            src="<%= user.avatar %>"
        <% } else{%>  
            src="<%= defaultAvatar%>"
        <% }%>
             alt="user avatar">
      <div class="card-body">
        <h5 class="card-title">
            <%   if(user.firstName && user.lastName){%>
                    <%=capA(user.firstName)+" "+capA(user.lastName)%>
           <% } %>
        </h5>
        <p class="card-text"><%=user.aboutMe%></p>
        <%if(user.email){%>
        <a href="mailto:<%=user.email%>" class="btn btn-sm btn-primary"><%=user.email%></a>
        <% }%>
        
        <% if(currentUser && user._id.equals(currentUser.id) || currentUser && currentUser.isAdmin){ %>
             <a class="btn btn-sm btn-warning" href="/users/<%= user._id%>/edit">Edit</a>
             <form class="deleteForm" action="/users/<%= user._id%>?_method=DELETE" method="POST">
                 <button class="btn btn-sm btn-danger">Delete</button>
             </form>
        <% } %>
        
      </div>
     </div>
  </div>
  <div class="col-md-7">
    <div class="mt-3">
        <h3><%= capA(user.username)%>'s campgrounds:</h3>
      <ul>
          <% campgrounds.forEach(function(campground){ %>
            <li><a href="/campgrounds/<%=campground.id%>"><%= campground.name%></a></li>
          <% })%>
      </ul> 
    </div>
  </div>
</div>
<% include ../partials/footer %>